<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Java HTTP Signature Test Suite" verbose="1">
    <test name="Google HTTP Client Unit Tests">
        <packages>
            <package name="com.joyent.http.signature.google.httpclient" />
        </packages>
    </test>
</suite>
