<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Java HTTP Signature Test Suite" verbose="1">
    <test name="Common Unit Tests">
        <classes>
            <class name="com.joyent.http.signature.KeyFingerprinterTest" />
            <class name="com.joyent.http.signature.SignerDSATest" />
            <class name="com.joyent.http.signature.SignerECDSATest" />
            <class name="com.joyent.http.signature.SignerLegacyConstructorTest" />
            <class name="com.joyent.http.signature.SignerRSATest" />
            <class name="com.joyent.http.signature.KeyPairLoaderTest" />
        </classes>
    </test>
</suite>
